# Logistic Regression - Multi-Class

In [6]:
#import required libraries
import numpy as np
import pandas as pd
from pandas import *
import matplotlib.pyplot as plt

In [7]:
#Loading and reading the dataset
df=pd.read_csv('multi_class.csv')

In [8]:
#Validate the shape of the dataframe
df.shape

(150, 5)

In [9]:
#Columns of Dataframe
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'], dtype='object')

In [10]:
#sneak peek into dataframe
df.sample(3)

     sepal_length  sepal_width  petal_length  petal_width            class
71            6.1          2.8           4.0          1.3  Iris-versicolor
144           6.7          3.3           5.7          2.5   Iris-virginica
9             4.9          3.1           1.5          0.1      Iris-setosa

In [11]:
#dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
class           150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [12]:
#summary of dataset
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [13]:
#validate the updated affairs column
df['class'].value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: class, dtype: int64

# Data Exploration

In [14]:
#groupby affairs 
df.groupby('class').mean()

                 sepal_length  sepal_width  petal_length  petal_width
class
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

# Data Preperation

In [23]:
#Datapreperation for Running the logistic regression model
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'], dtype='object')

In [24]:
#import model specific libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [26]:
#create input dataset without including target variable( affairs column)
X=df.loc[:, df.columns != 'class']

In [27]:
#Validate the shape of input data X
X.shape

(150, 4)

In [29]:
#Create the new data with only target column
y=df['class']

In [30]:
y.shape

(150,)

In [31]:
#Split the data into training and test data (70/30 ratio)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3, random_state=100, stratify=y)

In [32]:
#validate the shape of train and test dataset
print (X_train.shape)
print (y_train.shape)

print (X_test.shape)
print (y_test.shape)

(105, 4)
(105,)
(45, 4)
(45,)

## Build the classification model

In [34]:
#fit the logisitc regression model on training dataset 
logreg = LogisticRegression(class_weight='balanced').fit(X_train,y_train)

In [35]:
#validate the model performance on unseen data
logreg.score(X_test, y_test)

0.97777777777777775

In [36]:
#make predictions on unseen data
predictions=logreg.predict(X_test)

## Results

In [38]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

print(classification_report(y_test, predictions))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        15
Iris-versicolor       1.00      0.93      0.97        15
 Iris-virginica       0.94      1.00      0.97        15

    avg / total       0.98      0.98      0.98        45