Step 1. Import the necessary libraries

In [17]:
import pandas as pd
import numpy as np

Step 2 : Step 2. Import the dataset from this address
'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv' and create a pandas dataframe 

Hint : Use io and requests

In [18]:
import io
import requests

In [19]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
s=requests.get(url).content
df=pd.read_table(io.StringIO(s.decode('utf-8')))

Step 3: Check the shape of the dataframe

In [20]:
df.shape

(4622, 5)

Step 4: View the first 10 rows of the Dataset

In [21]:
df.head(4)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39

Step 5: Check for the number of missing values in any of the columns

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

Step 6 : Print the names of the columns

In [23]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

Step 7 : find the most ordered item ( Hint : Use value_counts on specific column )

In [24]:
df.item_name.value_counts()[:5]

Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Steak Burrito          368
Canned Soft Drink      301
Name: item_name, dtype: int64

Step 8 : How many distinct items are there in the data ? ( Hint : use unique() on specific column with len)

In [25]:
len(df.item_name.unique())

50

Step 9 : Convert the Item price column into float datatype 
Hint : ( Remove the $ first from each value in item_price and then cast it as Float)

In [26]:
df['item_price'] = df['item_price'].str[1:]

In [28]:
df['item_price']=pd.to_numeric(df.item_price, errors='coerce')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.6+ KB

Step 10 : What is the average amount per order and which order has the highest mean value ? 
( Hint : Use groupby specific column and np.max on the results)

In [34]:
np.max(df.groupby('order_id')['item_price'].mean())

35.25